html
  font-size 16px


body
  background-color black
  width 95vw
h1
  color white
  font-size 2.5sem
  text-align center



.Imagen
  cursor url('images/cursor.png') 25 25, auto
  display inline-block
  width 32%
  padding 0 .39%

.Imagen img
  width 100%


@media (max-width:1200)
  .Imagen
    width 49%

@media (max-width:600px)
  .Imagen
    width:100%
