html
  font-size 16px


body
  background-color black
h1
  color white
  font-size 4sem
  text-align center

.Images
  width 100vw

.Images img
  cursor url('images/cursor.png') 25 25, auto
  width 49vw
