doctype html
html(lang="en")
  head
    meta(name='viewport', content='width=device-width, user-scalable=no')
    title Programming Jokes
    script(src="lib/intense.js")
    script(src="fron.js")
    link( rel="stylesheet" href="app.css")

  body
    h1 Programming jokes

    section.Images
      -imagen = 1
      while imagen<35
        include img.jade
